@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}

.word-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.word-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.words {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 2;
  margin-right: 10px;
  font-weight: 500;
}

.word-input {
  border-radius: 2px;
  font-family: Roboto Mono;
  padding: 1rem 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 250px;
  height: 40px;
  font-size: 20px;
}

.word-input:disabled {
  cursor: not-allowed;
}

.input-container {
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-button {
  margin-top: 35px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: all 1s ease-in-out;
  border-radius: 50%;
  display: flex;
}

.word-count-board {
  font-size: 26px;
  color: #fe6f27;
}

.refresh-button img {
  width: 30px;
  height: 30px;
}

.restart-text {
  padding: 7px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.597);
  color: white;
  position: absolute;
  left: 635px;
  top: 500px;
}

.timer {
  font-size: 28px;
  color: #fe6f27;
  margin-left: 25px;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.lastrun-text {
  font-size: 20px;
  color: #fe6f27;
  cursor: pointer;
}

.refresh-button:hover {
  transform: rotate(360deg);
}
