@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  vertical-align: top;
}

.word-container {
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.words {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 2;
  margin-right: 10px;
  font-weight: 500;
  font-family: Roboto Mono;
}

.word-input {
  background-color: #6d9886;
  border-radius: 2px;
  padding: 1rem 0.5rem 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: Roboto Mono;
  width: 250px;
  height: 40px;
  font-size: 20px;
}

.word-input:disabled {
  cursor: not-allowed;
}

.input-container {
  margin-left: 187px;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh-button {
  margin-top: 20px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: all 1s ease-in-out;
  border-radius: 50%;
  display: flex;
}

.word-count-board {
  align-self: start;
  font-family: Roboto Mono;
  font-size: 26px;
  color: #f49d1a;
}

.correct-wrong {
  font-family: Roboto Mono;
  font-size: 26px;
  margin-left: 20px;
}

.refresh-button img {
  width: 30px;
  height: 30px;
}

.restart-text {
  padding: 7px;
  font-family: Roboto Mono;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.597);
  color: white;
  position: absolute;
  left: 600px;
  top: 500px;
}

.timer {
  font-size: 28px;
  font-family: Roboto Mono;
  color: #f49d1a;
  margin-left: 25px;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  margin-left: 187px;
  margin-bottom: 20px;
}

.refresh-button:hover {
  transform: rotate(-360deg);
}
