@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #2f2f2f;
  font-family: "Chivo Mono", sans-serif;
}
